@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {background-color: #00D2FF;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	color: #FF96F1;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}
h2 {
	font-family: 'Merriweather', serif;
	color: #FF96F1;
	font-size: 1.5em;
	text-align: center;
	font-style: bold;

}