body {background-color: (#00D2FF);
}
h1 {color: (#FF96F1);
	font-size: 24px;
	text-align: center;
	font-family: Arial, sans-serif;
}
#slogan {color: (#FF96F1);
	font-size: 24px;
	text-align: center;
	text-transform: italic;
}
h2 {color: (#FF96F1);
font-size: 22px;
font-family: Arial, sans-serif;
text-align: center;
}
li {color: (#FF5A0B);
font-size: 20px;
font-family: Arial, sans-serif;
text-align: center;
}
p {font-size: 20px;
font-family: Arial, sans-serif;
text-align: center;
}